<div class="section_container">

	<div class="section_title">
		<div>
			<h3>Что вас интересует ?</h3>
		</div>
	</div>

	<div class="base_content">
	<!-- <span style="cursor:pointer">pointer</span><br> -->

		<div class="base_modal" ng-click="changeRequestType('doctoroncall')">
			<div class="img_icon main_content_img"></div>
			<p>Вызов врача на дом</p>
		</div>
		<div class="base_modal" ng-click="changeRequestType('doctorhour')">
			<div class="img_icon main_content_img"></div>
			<p>Запись на прием</p>
		</div>
		<div class="base_modal" ng-click="changeRequestType('medtest')">
			<div class="img_icon main_content_img"></div>
			<p>Обследования и анализы</p>
		</div>
		<div class="base_modal" ng-click="changeRequestType('procedures')">
			<div class="img_icon main_content_img"></div>
			<p>Процедуры на дому</p>
		</div>
	</div>
</div>


<div class="ui small modal base_modal_content">
	<div class="modal_content content">
		<div class="modal_header actions">
			<div class="cancel icon cancel_icon">
			</div>
		</div>
		<div class="modal_body">
			<div class="modal_left">
				<div class="modal_left_header">
					<img ng-src="img/icons/{{requestType}}_hover.png">
					<p>{{requestTitle}}</p>
				</div>
				<div class="modal_left_menu">

					<div ng-show="requestType=='doctoroncall'||requestType=='doctorhour'" class="modal_left_menu_item" id="whom_left_menu_item" ng-click="changeTabState('whom')" ng-class="{active_blue:tabState=='whom'}">
						<div class="menu_item_img"></div>
						<p>Кому ?</p>
					</div>
					<div ng-show="requestType=='medtest'||requestType=='procedures'" class="modal_left_menu_item" id="what_left_menu_item" ng-click="changeTabState('what')" ng-class="{active_blue:tabState=='what'}">
						<div class="menu_item_img"></div>
						<p>Что ?</p>
					</div>
					<div class="modal_left_menu_item" id="where_left_menu_item" ng-click="changeTabState('where')" ng-class="{active_blue:tabState=='where'}">
						<div class="menu_item_img"></div>
						<p>Куда ?</p>
					</div>
					<div class="modal_left_menu_item" id="when_left_menu_item" ng-click="changeTabState('when')" ng-class="{active_blue:tabState=='when'}">
						<div class="menu_item_img"></div>
						<p>Когда ?</p>
					</div>
				</div>
			</div>
			<div class="modal_section">

				<div ng-show="tabState=='whom'" class="section_item">
					
					<div class="section_menu">
						<div class="section_subitem" ng-click="changeWhomTabState('me')" ng-class="{active_orange:whomTabState=='me'}"><p>Я пациент</p></div>
						<div class="section_subitem" ng-click="changeWhomTabState('other')" ng-class="{active_orange:whomTabState=='other'}"><p>Другой пациент</p></div>
					</div>
					<div class="section_content">
						<div class="input_field">
							<label for="clientAge">Возраст:</label>
							<input type="text" ng-model="clientAge" mask="99" placeholder="32" id="clientAge">
						</div>		
						<div class="input_field">
						<label for="symptom">Выберите симптом:</label>
						<input type="text" placeholder="Боль в спине" id="symptom">
						</div>
					</div>
				</div>

				<div ng-show="tabState=='where'" class="section_item">
					
					<div class="section_menu">
						<div class="section_subitem" ng-click="changeWhereTabState('myAddress')" ng-class="{active_orange:whereTabState=='myAddress'}"><p>Мой адрес</p></div>
						<div class="section_subitem" ng-click="changeWhereTabState('otherAddress')" ng-class="{active_orange:whereTabState=='otherAddress'}"><p>Другой адрес</p></div>
					</div>
					<div class="section_content">
						<div class="input_field">
							<label for="age">Город:</label>
							<input type="text" placeholder="Алматы" id="age">
						</div>
						<div class="input_field">
							<label for="symptom">Укажите ваш адрес:</label>
							<input type="text" placeholder="ул. Абылай хана, 78А" id="symptom">
						</div>
					</div>
				</div>

				<div ng-show="tabState=='when'" class="section_item">
					
					<div class="section_menu">
						<div class="section_subitem" ng-click="changeWhenTabState('today')" ng-class="{active_orange:whenTabState=='today'}" ><p>Сегодня</p></div>
						<div class="section_subitem" ng-click="changeWhenTabState('tomorrow')" ng-class="{active_orange:whenTabState=='tomorrow'}"><p>Завтра</p></div>
						<div class="section_subitem" ng-click="changeWhenTabState('week')" ng-class="{active_orange:whenTabState=='week'}"></p>В течении недели</p></div>
					</div>
					
					<div class="section_content">
						<div class="section_subitem" ng-show="whenTabState=='today'">
							<div class="info_field">
								<h4><span class="blue_color">Внимание!</span> Указывайте промежуток времени не более <span id="uppercase">пяти</span> часов </h4>
							</div>
							<div class="input_wrap">
								<div class="input_field">
									<label for="time_from">От:</label>
									<input type="text" ng-model="maskTimeFrom" mask="29:59" placeholder="13:00" id="time_from">
								</div>
								<div class="input_field">
									<label for="time_to">До:</label>
									<input type="text" ng-model="maskTimeTo" mask="29:59" placeholder="17:00" id="time_to">
								</div>
							</div>
						</div>
						<div class="section_subitem" ng-show="whenTabState=='tomorrow'">
							<div class="info_field">
								<h4><span class="blue_color">Внимание!</span> Указывайте промежуток времени не более <span id="uppercase">пяти</span> часов </h4>
							</div>
							<div class="input_wrap">
								<div class="input_field">
									<label for="time_from">От:</label>
									<input type="text" ng-model="maskTimeFrom" mask="29:59" placeholder="13:00" id="time_from">
								</div>
								<div class="input_field">
									<label for="time_to">До:</label>
									<input type="text" ng-model="maskTimeTo" mask="29:59" placeholder="17:00" id="time_to">
								</div>
							</div>
						</div>
						<div class="section_subitem" ng-show="whenTabState=='week'" >
							<div class="info_field">
								<h4><span class="blue_color">Внимание!</span> Указывайте промежуток времени не более <span id="uppercase">пяти</span> часов</h4>
							</div>
							<div class="input_wrap">
								<div class="input_field">
									<label for="time_from">От:</label>
									<input type="text" ng-model="maskTimeFrom" mask="29:59" placeholder="13:00" id="time_from">
								</div>
								<div class="input_field">
									<label for="time_to">До:</label>
									<input type="text" ng-model="maskTimeTo" mask="29:59" placeholder="17:00" id="time_to">
								</div>
							</div>
							<div class="input_field">
								<label for="time_week">День недели:</label>
								<input type="text" placeholder="Понедельник" id="time_week">
							</div>
						</div>
					</div>
				
				</div>

			</div>
		</div>
		<div class="modal_footer">
			<!-- написать сюда функцию продолжения записи на прием -->
			<div class="icon next_icon">
			</div>
		</div>
	</div>
</div>