<div  class="base_modal_content">
	<div class="modal_content">
		<div class="modal_left">
			<div class="modal_header">
				<img src="img/icons/{{request_image}}_hover.png">
				<p>{{request_type}}</p>
			</div>

			<div class="modal_body">
				<div ng-show="tabState=='whom'" class="section_item">
					<div class="section_content_row">
						<div ng-show="whom_human" class="human">
							<img ng-click="select_body_area('head')" ng-click="select_body_area('head')" id="head" src="img/icons/body/head_hover.png">
							<img ng-click="select_body_area('chest')" id="chest" src="img/icons/body/chest_hover.png">
							<img ng-click="select_body_area('hand')" id="lh" src="img/icons/body/lh_hover.png">
							<img ng-click="select_body_area('hand')" id="rh" src="img/icons/body/rh_hover.png">
							<img ng-click="select_body_area('stomach')" id="stomach" src="img/icons/body/stomach_hover.png">
							<img ng-click="select_body_area('groin')" id="bb" src="img/icons/body/bb_hover.png">
							<img ng-click="select_body_area('leg')" id="rl" src="img/icons/body/rl_hover.png">
							<img ng-click="select_body_area('leg')" id="ll" src="img/icons/body/ll_hover.png">
						</div>
						<div ng-hide="whom_human" class="human">
							<img id="head" src="img/icons/body/head_hover.png">
							<img id="chest" src="img/icons/body/chest_hover.png">
							<img id="lh" src="img/icons/body/lh_hover.png">
							<img id="rh" src="img/icons/body/rh_hover.png">
							<img id="stomach" src="img/icons/body/stomach_hover.png">
							<img id="bb" src="img/icons/body/bb_hover.png">
							<img id="rl" src="img/icons/body/rl_hover.png">
							<img id="ll" src="img/icons/body/ll_hover.png">
						</div>

						<div ng-show="whom_init" class="right_content">
							<p id="colorful">Выберите пол:</p>

							<div class="right_content_item gender">
								<a ng-click="select_gender('male')" href="">
									<div class="male_img"></div>
									<p>Мужской</p>
								</a>
							</div><br>

							<div class="right_content_item gender">
								<a ng-click="select_gender('female')" href="">
									<div class="female_img"></div>
									<p>Женский</p><br>
								</a>
							</div><br>

							<div class="right_content_check gender">
								<fieldset>
									<input type="checkbox" name="child" id="child">
									<label for="child">Это ребенок</label>
								</fieldset>
							</div>
						</div>

						<div ng-show="whom_select_area" class="right_content">
							<p >Ваш симптом:</p>
							<p id="colorful">Укажите на картинке где у вас боль
								или дискомфорт</p>
							{{selected_body_area}}
						</div>


						<div ng-show="whom_head_parts" class="right_content">
							<p>Выберите из списка:</p>

							<div ng-repeat="part in head_parts" ng-click="select_symptom(part.name, part.img_src)" class="right_content_item">
								<a>
									<img src="{{part.img_src}}">
									<p>{{part.name}}</p>
								</a>
							</div>
						</div>

						<div ng-show="whom_select_symptoms" class="right_content">
							<div class="right_content_item">
								<a href="">
									<img src="{{selected_img}}">
									<p>{{selected_name}}</p>
								</a>
							</div><br>

							<div ng-repeat="symptom in symptoms" id="symptom.id" class="symptoms">
								<a ng-click="add_symptom(symptom.name)" ng-class="{selected: symptom.id == idSelectedVote}" ><p>{{symptom.name}}</p></a>
							</div>
							<div class="modal_footer">
								<div ng-click="prepare_request()" class="icon next_icon"></div>
							</div>


						</div>


						<div ng-show="whom_selected_symptom" class="right_content">
							<div class="right_content_item">
								<a href="">
									<img src="{{selected_img}}">
									<p>{{selected_name}}</p>
								</a>
							</div>
							<br>
							<div ng-repeat="symptom in selected_symptoms" class="symptoms">
								<p id="selected_symptom">{{symptom.type}}</p>
							</div><br><br>
							<div class="input_field">
								<input ng-model='comment' type="text" placeholder="Добавить комментарий" id="comment">
								<label for="comment">100 слов</label>
							</div>
							<div class="modal_footer">
								<div ng-click="prepare_request()" class="icon next_icon"></div>
							</div>

						</div>


					</div>
				</div>

				<div ng-show="tabState=='where'" class="section_item">
					<div class="section_content">
						<div class="input_field">
							<label for="age">Город:</label>
							<input ng-model='city' type="text" placeholder="Алматы" id="age">
						</div>
						<div class="input_field">
							<label for="symptom">Укажите ваш адрес:</label>
							<input ng-model='address' type="text" placeholder="ул. Абылай хана, 78А" id="symptom">
						</div>
					</div>
				</div>

				<div ng-show="tabState=='when'" class="section_item">
					<div class="section_content_row calendar_wrap">

						<div class="left_calendar" jqdatepicker id="calendar"></div><br>
						<input class="date_model" ng-model="datepicker_date" style="display: none" ng-bind="date">
						<div class="right_calendar">
						  <fieldset>
								<div class="daytime">
									<a selectmorn id="morn"> Утро</a>
									<a selectlunch>Обед</a>
									<a selecteven>Вечер</a>
								</div>
								<div class="morn_check space_check">
									<input ng-model="time" type="checkbox" onclick="return false" name="checkbox-1" id="checkbox-1">
									<label>08:00</label>
									<input type="checkbox" onclick="return false">
									<label>08:30</label>
									<input type="checkbox" onclick="return false">
									<label>09:00</label>
									<input type="checkbox" onclick="return false">
									<label>09:30</label>
									<input type="checkbox" onclick="return false">
									<label>10:00</label>
									<input type="checkbox" onclick="return false">
									<label>10:30</label>
									<input type="checkbox" onclick="return false">
									<label>11:00</label>
									<input type="checkbox" onclick="return false">
									<label>11:30</label>
								</div>

								<div class="lunch_check space_check">
									<input type="checkbox" onclick="return false">
									<label>12:00</label>
									<input type="checkbox" onclick="return false">
									<label>12:30</label>
									<input type="checkbox" onclick="return false">
									<label>13:00</label>
									<input type="checkbox" onclick="return false">
									<label>13:30</label>
									<input type="checkbox" onclick="return false">
									<label>14:00</label>
									<input type="checkbox" onclick="return false">
									<label>14:30</label>
									<input type="checkbox" onclick="return false">
									<label>15:00</label>
									<input type="checkbox" onclick="return false">
									<label>15:30</label>
								</div>

								<div class="even_check space_check">
									<input type="checkbox" onclick="return false">
									<label>16:00</label>
									<input type="checkbox" onclick="return false">
									<label>16:30</label>
									<input type="checkbox" onclick="return false">
									<label>17:00</label>
									<input type="checkbox" onclick="return false">
									<label>17:30</label>
									<input type="checkbox" onclick="return false">
									<label>18:00</label>
									<input type="checkbox" onclick="return false">
									<label>18:30</label>
									<input type="checkbox" onclick="return false">
									<label>19:00</label>
									<input type="checkbox" onclick="return false">
									<label>19:30</label>
									<input type="checkbox" onclick="return false">
									<label>20:00</label>
									<input type="checkbox" onclick="return false">
									<label>20:30</label>
								</div>
						  </fieldset>
						</div>
					</div>
				</div>

				<div ng-show="tabState=='price'" class="section_item">
					<div class="section_content">
						<div class="input_field">
							<label for="price">Укажите ваш бюджет от:</label>
							<input ng-model="price_from" type="number"  id="price">
						</div>
						<div class="input_field">
							<label for="price">Укажите ваш бюджет до:</label>
							<input ng-model="price_to" type="number"  id="price">
						</div>
						<div class="create_request">
							<div ng-click="submit()" class="create_request_button">
								<p>Создать заявку</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal_right">
			<div class="modal_right_item" id="whom_left_menu_item" ng-click="changeTabState('whom')" ng-class="{active_blue:tabState=='whom'}">
				<div class="menu_item_img"></div>
				<p>Кому ?</p>
			</div>
			<div class="modal_right_item" id="where_left_menu_item" ng-click="changeTabState('where')" ng-class="{active_blue:tabState=='where'}">
				<div class="menu_item_img"></div>
				<p>Куда ?</p>
			</div>
			<div class="modal_right_item" id="when_left_menu_item" ng-click="changeTabState('when')" ng-class="{active_blue:tabState=='when'}">
				<div class="menu_item_img"></div>
				<p>Когда ?</p>
			</div>
			<div class="modal_right_item" id="what_left_menu_item" ng-click="changeTabState('price')" ng-class="{active_blue:tabState=='price'}">
				<div class="menu_item_img"></div>
				<p>Сколько ?</p>
			</div>
		</div>
	</div>
<!-- 	<div class="modal_direction">
		<div class="arrow_left"></div>
		<div class="arrow_right"></div>
	</div> -->
</div>
