<div class="section_container">
	<div class="section_title">
		<div>
			<h3>Мои Заявки</h3>
		</div>
	</div>

	<div class="section_content">
		<div class="request_review">
			<div class="review_sort">
				<p ng-click="changeFilter(false)" ng-class="{ active_purple : currentFilter == false}">Новые</p>
				<p ng-click="changeFilter(true)" ng-class="{ active_purple : currentFilter == true}">Подтвержденные</p>
			</div>
			<!-- ng-click="stretch(review.status, $index+1)"  ng-attr-id="{{ 'object-'+review.id }}" -->
			<div ng-repeat="review in requests_list | filter : { status : currentFilter }"  ng-click="openResponse(review)" class="card_item mb-20" id="response_{{review.id}}">
				<div class="card_left_side">
					<div class="title">

						<img ng-src="{{type[review.requesttype]['icon']}}">
						<p>{{type[review.requesttype].name}}</p>
					</div>
					<div class="date_time">
						<p class="date">{{ review.date }}</p>
						<p class="time">{{ review.time.from }} -  {{ review.time.to }}</p>
					</div>
				</div>

				<div class="card_container">
					<div class="card_content">
						<div class="card_base_content">
							<p class="doctor_fullname">{{ review.title_pain }}</p>
							<div class="doctor_type">
								<p ng-repeat="type in review.doctor_types">
									{{ type.type }}
								</p>
							</div>
						</div>

						<div ng-click="removeRequest(request.id)" class="item_trash">
							<p class="active_purple">{{review.count}} отзывов</p>
						</div>
					</div>
					<div class="additional_info">
						<div class="description">
							<p ng-show="!review.status" class="active_orange">Kоментарий</p>
							<p ng-show="review.status" class="active_orange">(Kоментарий)</p>
							<p ng-show="!review.status">{{review.comment}}</p>
							<p ng-show="review.status"><span>Статус:</span> Подтвержден</p>
							<p ng-show="!review.status"><span>Статус:</span> Не подтвержден</p>
						</div>
						<div class="rate_container">
							<h2 ng-show="review.status" class="count_requests">{{ review.count }} отзывов</h2>
							<div ng-show="!review.status" class="write_message">
								<div class="icon message_icon"></div>
							</div>
						</div>
					</div>
					<div ng-show="!review.status" class="request_response" id="request_response_{{review.id}}">
						<div class="card_content">
							<div class="card_base_content">
								<p class="doctor_fullname"></p>
							</div>
						</div>
						<div class="card_info">
							<div class="card_info_left">
								<p><img class="address_icon">{{ review.address }}</p>
							</div>
							<div class="card_info_right">
								<p class="active_orange">{{review.budget.from}} - {{review.budget.from}} <span>Отозваться</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="error_content" ng-show='reviews.length < 0'>
				<p>
					Дорогой доктор! <br>
					В вашем кабинете пока нет заявок.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal" ng-show='profileData.profile_work_hisctory'>
	<!-- Modal content -->
	<div class="modal-content">
		<p>Some text in the Modal..</p>
	</div>
</div>
