<div class="section_container">
	<div class="section_title">
		<div>
			<h3>Мои Заявки</h3>
		</div>
	</div>

	<div class="request_review">
		<div class="review_sort">
			<p ng-click="reviewSort('price')" ng-class="{ active_purple : sortType == 'price'}">Новые</p>
			<p ng-click="reviewSort('rate')" ng-class="{ active_purple : sortType == 'rate'}">Потвержденные</p>
		</div>
		<div ng-repeat="review in reviews" class="card_item mb-20" ng-click='choosed=!choosed' ng-class='{active : choosed}' ng-show=" reviews.length >= 1 ">
			<div class="">
				<div class="card_leftSide" ng-class='{ active : choosed }'>
						<div class="">
							<div class="title" ng-show="review.requesttype == 'doctoroncall'"><img class="doctoroncall_icon" ><p>Вызов врача на дом</p></div>
							<div class="title" ng-show="review.requesttype == 'doctorhour'"><img class="doctorhour_icon" ><p>Запись на прием к врачу</p></div>
							<div class="title" ng-show="review.requesttype == 'procedures'"><img class="procedures_icon" ><p>Вызов врача на дом</p></div>
							<div class="title" ng-show='choosed'>
								<h2 class="date_time">{{ review.date }}<br>{{ review.time.from }} -  {{ review.time.to }}</h2>
								<h3 class="status">Статус : <br>{{ review.status}}</h3>
							</div>
						</div>

				</div>
			</div>
			<div class="card_container">
				<div class="card_content">
					<div class="card_base_content">
						<p class="doctor_fullname">{{ review.title_pain }}</p>
						<div class="doctor_type">
							<p ng-repeat="type in review.doctor_types">
								{{ type }}
							</p>
						</div>
						<br>
						<div class="description" ng-show='choosed'>
							<b class="active_orange">Kоментарий :</b>
							<p>
								{{ review.comment }}
							</p>
							<h2><img class="address_icon">{{ review.address }}</h2>
						</div>
					</div>
					<div class="rate_container ">
						<h2 class="count_requests">{{ review.count }} отзов</h2>
					</div>
				</div>
				<div class="card_info" >
					<div class="card_info_left" >
					</div>
					<div class="card_info_right" ng-show='choosed'>
						<h2 class="active_purple">{{review.budget.from}} - {{review.budget.to}} тг</h2><br>
					</div><br>
				</div>
				<div class="card_info" >
					<div class="card_info_left"  >
						<p class="active_orange"ng-show='!choosed'>(коментарий)</p>
						<p class="review_time" ng-show='!choosed'>Статус : {{ review.status}}</p>
					</div>
					<div class="card_info_right" >
						<button type="button" name="button" class="respond_for_request" ng-show='choosed'>Отозваться</button>
						<h2 class="active_purple" ng-show='!choosed'>{{review.budget.from}} - {{review.budget.to}} тг</h2><br>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="error_content" ng-show='reviews.length <= 0'>
		<p>
			Дорогой доктор! <br>
			В вашем кабинете пока нет заявок.
		</p>
	</div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal" ng-show='profileData'>
	<!-- Modal content -->
	<div class="modal-content">
		<p>Some text in the Modal..</p>
	</div>
</div>
