@import "colors";
@import "components";

@import "base";
@import "request";

body {
	margin: 0;
	padding: 0;
	
	width: 100vw;
	height: 100vh;

	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: @darkgrey;

	display: flex;

	aside:before {
		width: 40%;
		height: 100%;
		
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		
		background-image: url("../img/bg-aside.jpg");
		background-size: 140% 100%;
		background-position: center; 
		background-repeat: no-repeat;
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-o-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
	}
	aside {
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;
		.profile_logo {
			width: 100%;
			height: 20vh;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 70px;
				height: 70px;
			}
		}
		.profile_menu {
			height: 60vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			.no_link_style {
				width: 100%;
				height: 60px;
				&:hover { 
					background-color: rgba(204, 204, 204, 0.5); 
				}

				display: flex;
				align-items: center;
				justify-content: center;

				div {
					width: 80%;

					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					img {
						width: 35px;
					}
					p {
						margin: 0;
						width: 80%;

						color: @white;
						font-size: 16px;
						font-weight: 400;
					}
				}
			}
		}
		.profile_footer {
			height: 20vh;
			display: flex;
			justify-content: center;
			align-items: center;
			div {
				width: 50%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				img {
					width: 40px;
				}
				p {
					color: @white;
					font-size: 16px;
					font-weight: 400;
					width: 60%;
				}
			}
		}
	}
	section {
		width: 70%;
		height: 100%;
		background-color: @white;
	}
}