@import "colors";
@import "components";

@import "base";
@import "requests_list";
@import "request";

body {
	margin: 0;
	padding: 0;
	
	width: 100%;
	height: 100%;

	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
	overflow: hidden;

	color: @darkgrey;
	display: flex;
	.left_block {
		width: 30%;
		height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;			
		.profile_logo {
			width: 100%;
			height: 20vh;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 70px;
				height: 70px;
			}
		}
		.profile_menu {
			height: 60vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			.no_link_style {

				width: 100%;
				height: 60px;
				&:hover { 
					background-color: rgba(204, 204, 204, 0.5); 
				}

				display: flex;
				align-items: center;
				justify-content: center;

				div {
					width: 80%;

					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					img {
						width: 35px;
					}
					p {
						margin: 0;
						width: 80%;

						color: @white;
						font-size: 16px;
						font-weight: 400;
					}
				}
			}
		}
		.profile_footer {
			height: 20vh;
			display: flex;
			justify-content: center;
			align-items: center;
			div {
				width: 50%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				img {
					width: 40px;
				}
				p {
					color: @white;
					font-size: 16px;
					font-weight: 400;
					width: 60%;
				}
			}
		}
		.left_block_background {
			position: absolute;
			left: -3%;
			top: -3%;
			z-index: -10;
			background-image: url("../img/bg-aside.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-filter: blur(3px);
			-moz-filter: blur(3px);
			-o-filter: blur(3px);
			-ms-filter: blur(3px);
			filter: blur(3px);
			width: 106%;
			height: 106%;
		}
	}
	.right_block {
		position: relative;
		width: 70%;
		height: 100%;
		background: @white;
		overflow-y: scroll;
	}
}