#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
   background: -webkit-linear-gradient(#5896C0 ,  #611FA3); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#5896C0 ,  #611FA3); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#5896C0 ,  #611FA3); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#5896C0 ,  #611FA3); /* Standard syntax (must be last) */
	display: flex;
	align-items: center;
	justify-content: center;
	.preloader_gif {
		width: 256px;
		height: 256px;
	}
}
.path {
	position: fixed;
	bottom: 20px;
	right: 20px;

	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.point_line {
		display:flex;
		align-items: center;
		height: 60px;
		position: relative;
		.line {
		position: absolute;
		width: 45px;
		height: 2px;
		background-color: white;
		}
		.point {
			width: 30px;
			height: 30px;
			border: 3px solid white;
			border-radius: 50%;
			.circle_point {
        margin: 3px 0 0 3px;
        width: 80%;
        height: 80%;
        border-radius: 50%;
      }
      .active {
        background-color: white;
      }
		}
	}
	.point_line:nth-child(even) {
		justify-content: flex-end;
		.line {
			top: 58px;
			right: 28px;
			transform: rotate(-45deg);
		}
	}
	.point_line:nth-child(odd) {
		justify-content: flex-start;
		.line {
			top: 58px;
			left: 28px;
			transform: rotate(45deg);
		}
	}
}

.return_link {
	height: 50px;
	width: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
	.return_link_text {
		border-bottom: 1px solid rgba(255, 255, 255, 0);
	}
	&:hover {
		cursor: pointer;
		.return_link_text {
			cursor: pointer;
			border-bottom: 1px solid rgba(255, 255, 255, 1);
		}
	}
}

.notification {	
	width: 325px;
	height: 200px;

	position: absolute;
	top: 0;
	left: -600px;

	padding: 15px;

	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(217, 217, 217, .4);
	
	.notification_close {
		display: flex;
		justify-content: flex-end;
		.notification_button {
			width: 16px;
			height: 16px;
			background-image: url("../../img/base/cancel.png");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			&:hover {
				background-image: url("../../img/base/cancel_hover.png");
			}
		}
	}
	h4 {
		margin: 10px 0;
		font-weight: 500;
		font-size: 18px;
	}
	p {
		span {
			font-weight: 500;
		}
		margin: 10px 0;
	}
}
