<div class="section_container">

	<div class="section_title">
		<div>
			<h3>Мои заявки</h3>
		</div>
	</div>
	<div class="section_content">
		<div class="request_review">
		<div class="review_sort">
			<p ng-click="changeFilter(false)" ng-class="{ active_purple : currentFilter == false}">Новые</p>
			<p ng-click="changeFilter(true)" ng-class="{ active_purple : currentFilter == true}">Подтвержденные</p>
		</div>

		<!-- ng-class='{active:choosed}' -->
			<div ng-repeat="review in requests_list | filter :{status: currentFilter}" ng-click="stretch(review.status, $index+1)"  ng-attr-id="{{ 'object-'+review.id }}" class="card_item mb-20">
<!-- ui-sref="request({ request_id : request.id })" -->
				<div class="">
					<div class="card_leftSide" >
							<div class="">
								<div class="title" ng-show="review.requesttype == 'doctoroncall'"><img class="doctoroncall_icon" ><p>Вызов врача на дом</p></div>
								<div class="title" ng-show="review.requesttype == 'doctorhour'"><img class="doctorhour_icon" ><p>Запись на прием к врачу</p></div>
								<div class="title" ng-show="review.requesttype == 'procedures'"><img class="procedures_icon" ><p>Вызов врача на дом</p></div>
								<div class="title" >
									<h3 class="date_time">{{ review.date }}<br>{{ review.time.from }} -  {{ review.time.to }}</h3>
								</div>
								<div class="title" >
									<p class="review_time" ng-show="review.status">Статус: Подтверждено</p>
									<p class="review_time" ng-hide="review.status">Статус: Не подтверждено</p>
								</div>
							</div>

					</div>
				</div>

				<div class="card_container">
					<div class="card_content">
						<div class="card_base_content">
							<p class="doctor_fullname">{{ review.title_pain }}</p>
							<div class="doctor_type">
								<p ng-repeat="type in review.doctor_types">
									{{ type.type }}
								</p>
							</div>
							<br>
							<div class="description" ng-show='check($index+1)'>
								<b class="active_orange">Kоментарий :</b>
								<p>
									{{ review.comment }}
								</p>
								<h2><img class="address_icon">{{ review.address }}</h2>
							</div>
						</div>

						<div class="rate_container abs">
							<h2 class="count_requests">{{ review.count }} отзыв(а/ов)</h2>
						</div>

					<div ng-click="removeRequest(request.id)" class="item_setting item_trash">
						<div class="icon trash_icon">
						</div>
					</div>
					<div class="mess">
						<a ng-click="changeClientSideStatus('messages')">Написать врачу</a>
						<div ng-click="changeClientSideStatus('messages')" class="icon message_icon"></div>
					</div>

					</div>
					<div class="card_info" >


					<div ng-show='check_doctor($index+1)' class="request_review">
						<div  class="card_item mod mb-20">
							<div class="card_avatar">
								<img src="img/tatum.jpg" alt="">
							</div>
							<div class="card_container">
								<div class="card_content">
									<div class="card_base_content">
										<p class="doctor_fullname">Ченнинг Татум</p>
										<div class="doctor_type">
											<p>Терапевт</p>
											<p>Хирург</p>
										</div>
									</div>
									<div class="rate_container">
										<p>4.2</p>
										<div id="rate_{{review.id}}" class="rate">
											<div class="rate_filled"></div>
											<div class="rate_notfilled"></div>
										</div>
									</div>
								</div>

								<div class="card_info">
									<div class="card_info_left">
										<div class="doctor_type">
											<p class="review_workplace">Клиника "Авимед"</p>
										</div>
										<p><img class="address_icon">{{ review.address }}</p>
									</div>

									<div class="card_info_right">
										<p class="active_orange">5000тг</p>
									</div>
								</div>

							</div>
						</div>

		<!-- 				<div class="card_info_left">
						</div>
						<div class="card_info_right" >
							<h2 class="active_purple">{{review.budget.from}} - {{review.budget.to}} тг</h2><br>
						</div><br> -->
					</div>



				</div>
			</div>
			
		</div>


	</div>
</div>	