<!DOCTYPE html>
<html ng-app="medApp" ng-controller="medCtrl">
<head>
	<title>SPA KazMed</title>
	<meta charset="utf-8">
	<base href="/">
	<link rel="stylesheet" type="text/css" async href="css/mysemantic.min.css">
	<link rel="stylesheet" type="text/css" async href="css/style.css">
</head>
<body>
	<div class="left_block">
		<div ng-show="clientSideStatus=='menu'" class="client_menu">
			<div class="client_menu_background">
			</div>

			<div class="client_menu_logo">
				<img src="img/profile_logo.png">
			</div>

			<div class="client_menu_content">

				<a class="no_link_style" ui-sref="base">
					<div>
						<img src="img/menu/home.png">
						<p>Главная</p>
					</div>
				</a>
				<a class="no_link_style" ui-sref="requests_list">
					<div>
						<img src="img/menu/notification.png">
						<p>Моя заявки</p>
					</div>
				</a>
				<a class="no_link_style" ui-sref="search">
					<div>
						<img src="img/menu/search.png">
						<p>Поиск</p>
					</div>
				</a>
				<a class="no_link_style" ui-sref="calendar">
					<div>
						<img src="img/menu/calendar.png">
						<p>Мой календарь</p>
					</div>
				</a>
				<a class="no_link_style" ui-sref="profile">
					<div>
						<img src="img/menu/profile.png">
						<p>Мой профиль</p>
					</div>
				</a>
			</div>
		</div>
		
		<div ng-show="clientSideStatus=='chat'" class="client_messages">
			<div class="search_input">
				<div class="search_icon"></div>
				<input type="text" placeholder="Поиск">
			</div>
			<div class="messages_content">
				<div ng-repeat="message in messages" class="message">
					<div class="message_avatar">
						<img src="{{message.avatar}}" alt="Аватар пользователя">
					</div>
					<div class="message_content">
						<div class="message_info">
							<h4 class="message_fullname">{{message.fullname}}</h4>
							<p class="message_time">{{message.messagetime}}</p>
						</div>
						<div class="message_container">
							<p class="message_text">{{message.message}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>





		<div class="client_footer" ng-class="{active_message:clientSideStatus =='chat'}">
			<div class="client_footer_item">
				<div>
					<img src="img/menu/exit.png">
					<p>Выйти</p>
				</div>
			</div>
			<div class="client_footer_item" ng-show="clientSideStatus == 'menu'" ng-click="changeClientSideStatus('chat')">
				<div >
					<img src="img/menu/message_hover.png">
					<p>Сообщения</p>
				</div>
			</div>
			<div class="client_footer_item" ng-show="clientSideStatus == 'chat'" ng-click="changeClientSideStatus('menu')">
				<div>
					<img src="img/menu/menu.png">
					<p>Меню</p>
				</div>
			</div>
		</div>
		
	</div>

	<div class="right_block" ui-view>
	</div>

	<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>


	<script type="text/javascript" src="lib/ngMask/dist/ngMask.min.js"></script>

	<script type="text/javascript" src="lib/semantic/dist/semantic.min.js"></script>


	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/clientService.js"></script>
	<script type="text/javascript" src="js/base/base.js"></script>
	<script type="text/javascript" src="js/requests_list/requests_list.js"></script>
	<script type="text/javascript" src="js/request/request.js"></script>
</body>
</html>