#pt-30 {
	padding-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}


.request_review {
	width: 100%;
	.review_sort {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		p {
			font-weight: 400;
			cursor: pointer;
			margin: 0;
			padding: 0 15px;
		}
	}
}
.review_workplace {
}
.review_time {
	margin-top: 5px;
	font-weight: 500;
}