<div class="section_container">
	<div class="section_title">
		<div>
			<h3>Мой Профиль</h3>
		</div>
	</div>
	<div class="section_content">
	            <div class="input_field">
	              <label for="age">Город:</label>
	              <input ng-model='city' type="text" placeholder="Алматы" id="age">
	            </div>
	            <div class="input_field">
	              <label for="symptom">Укажите ваш адрес:</label>
	              <input ng-model='address' type="text" placeholder="ул. Абылай хана, 78А" id="symptom">
	            </div>
	          </div>



</div>
