<div class="section_container">
	<div class="section_title">
		<div>
			<h3>Мои сообщения</h3>
		</div>
	</div>
	<div class="section_content">
		<div ng-repeat="message in messages" class="card_item mb-20">
			<div class="card_avatar">
				<img src="{{message.avatar}}" alt="Аватар Доктора">
			</div>
			<div class="card_container">
				<div class="card_content">
					<div class="card_base_content">
						<p class="doctor_fullname">
						{{message.fullname}}
						</p>
						<div class="doctor_type">
							<p ng-repeat="type in message.doctortype">
								{{type}}
							</p>
						</div>
						<div class="lastmessage_label">
							<p>{{message.lastmessage}}</p>
						</div>
					</div>
					<div class="card_extra_content icon_setting trash_icon_wrap">
						<div class="icon trash_icon"></div>
					</div>
				</div>
				<div class="card_info message_label">
						<div class="message_notification">
							<p class="active_orange">{{message.unreadedmessages}} новых сообщений</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>